body {
    background-color: gray;
}
/* containers */
.container {
    background-color: pink;
    font-family: 'Signika Negative', sans-serif;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    height: 4rem;
    align-items: center;
    font-size: 2rem;
}
.gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    font-size: 3rem;
    padding-top: 1.75rem;
}
.topRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width:13.5rem;
    height: 5rem;
    /* background-color: blueviolet; */
    border-bottom: .1rem solid black;
}
.midRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width:13.5rem;
    height: 5rem;
    /* background-color: aquamarine; */
    border-bottom: .1rem solid black;
}
.bottomRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width:13.5rem;
    height: 5rem;
    margin-bottom: .5rem;
    /* background-color: orchid; */
}
.vertLine {
    width: .05rem;
    height: 4.78rem;
    background-color: black;
}


/* rows */
.tLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    margin-right: .5rem;
    height: 3rem;
}
.tMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orangered;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 3rem;
}
.tRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    height: 3rem;
    margin-left: .5rem;
}

/* middle row spans */
.mLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gold;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    margin-right: .5rem;
    height: 3rem;
}
.mMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: greenyellow;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 3rem;
}
.mRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: limegreen;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    height: 3rem;
    margin-left: .5rem;
}

/* bottom row spans */
.bLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    margin-right: .5rem;
    height: 3rem;
}
.bMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: deepskyblue;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 3rem;
}
.bRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: mediumslateblue;
    border: solid black .1rem;
    width: 3rem;
    text-align: center;
    height: 3rem;
    margin-left: .5rem;
}